*~
*.cache
build
build-*
site.print.htm
changes.htm
*-linux-*
*.pyc
*.tmp
__pycache__
docs/man3
docs/html
Makefile
tmp.*
tmp
CMakeCache.txt
CMakeFiles
cmake_install.cmake
configure
configure.ac
.vscode/settings.json
